<launch>
  <arg name="camera_name" default="camera_d435_0"/>
  <arg name="model_path" default="$(find panel_detection)/models/0813.onnx"/>
  <arg name="use_constraint" default="1"/>
  <arg name="use_panel_tags" default="true"/>
  <arg name="show_gui" default="false"/>
  <arg name="debug_image_topic" default="/panel/debug_image"/>

  <include file="$(find panel_detection)/launch/panel_detection.launch">
    <arg name="camera_name" value="$(arg camera_name)"/>
    <arg name="model_path" value="$(arg model_path)"/>
    <arg name="node_name" value="panel_controls_detection"/>
    <arg name="detection_mode" value="panel_controls"/>
    <arg name="use_constraint" value="$(arg use_constraint)"/>
    <arg name="use_panel_tags" value="$(arg use_panel_tags)"/>
    <arg name="show_gui" value="$(arg show_gui)"/>
    <arg name="debug_image_topic" value="$(arg debug_image_topic)"/>
  </include>
</launch>
